@import 'swiper/swiper-bundle.css';

.buttons{
 position: absolute;
 left: 500px;
 bottom: 10px;
 display: flex;
 flex-direction: row;
}

.card {
 margin: 0;
 height: 100px;
 background-color: #07294E !important;
 color: #ffffff;
 padding: 10px;
 font-size: 12px;
 border-radius: 0px !important;
}

.ex1 {
 z-index: 6;
 position: relative;
 display: flex;
 justify-content: space-between;
 margin: 0;
 border: 10px solid white;
 bottom: 10px;
}

.ex1 .col-md2 {
 margin: 10px;
}

.ex2{
 margin-bottom: 25px;
 position: relative;
 top: 0;
 -webkit-transition: top 0.5s ease-out;
 -moz-transition: top 0.5s ease-out;
 -ms-transition: top 0.5s ease-out;
 transition: top 0.5s ease-out;
 }

.ex1 .ex2:hover{
 top: -20px;
}

img {
 @extend .swiper-container
}

span{
 position: absolute;
 z-index: 3;
 color: white;
}

.swiper-container {
 width: 100%;
 height: 600px;
}

.swiper-slide {
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 h5 {
     position: absolute;
     top: 40%;
     left: 25%;
     color: #ffffff;
     font-size: 2.8rem;
     font-weight: bold;
 }
}
.swiper-slide-active {
 h5 {
     animation-name: fade-in;
     animation-duration: 0.5s;
     animation-delay: 0.5s;
     animation-fill-mode: both;
 }
}

.swiper-button-next{
background-color: aliceblue;
color:black;
margin: 20px;
width: 15px;
height: 30px;
font-size: 10px;
}

.swiper-button-next:after{
 font-size: 20px;
}

.swiper-button-prev{
 @extend .swiper-button-next
}

.swiper-wrapper span{
 animation-duration: 3s;
 animation-name: slidein;
}

@keyframes fade-in {
 from {
 opacity: 0;
 transform: translateX(100px);
 }

 to {
  opacity: 1;
  transform: translateX(0);
 }
}

@media (min-width: 576px) { 
 .buttons {
 left: 400px;
 }
 }

@media (max-width: 576px) {
 .buttons {
 left: 300px;
}
  
 .ex2 {
 width: 80px;
 margin-bottom: 25px;
 position: relative;
 top: 0;
 border: 1px solid #ccc;
 float: left;
 padding-left: 2px;
 -webkit-transition: none;
 -moz-transition: none;
 -ms-transition: none;
 transition: none;
 }

 .ex1 .ex2:hover{
  top: 0px;
 }
 }

@media (max-width: 450px) {
 .buttons {
 left: 200px;
 }
}

@media (min-width: 989px) { 
 .buttons {
 left: 800px;
 }
 }

@media (min-width: 1343px) {  
 .buttons {
left: 1200px;
} }
