@import 'swiper/swiper-bundle.css';

.swiper-container {
 width: 1000px;
 height: 300px;
}

.buttons{
 position: absolute;
 left: 500px;
 bottom: 50px;
 display: flex;
 flex-direction: row;
}

img {
 @extend .swiper-container
}

span{
 position: absolute;
 z-index: 3;
 color: white;
}

.ex1 {
 z-index: 6;
 position: relative;
 width: 1000px;
 display: flex;
 justify-content: space-between;
 margin: 0 auto;
 border: 2px solid white;
 bottom: 10px;
 background-color: white;
}

.ex2{
width: 160px;
position: relative;
top: 0;
border: 5px solid #ccc;
float: left;
margin: 5px;
-webkit-transition: top 0.5s ease-out;
-moz-transition: top 0.5s ease-out;
-ms-transition: top 0.5s ease-out;
transition: top 0.5s ease-out;
}

.ex1 .ex2:hover{
 top: -20px;
}

.swiper-slide{
 background: cover;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 30px;
}

.swiper-button-next{
background-color: aliceblue;
color:black;
margin: 20px;
width: 15px;
height: 30px;
font-size: 10px;
}

.swiper-button-next:after{
 font-size: 20px;
}

.swiper-button-prev{
 @extend .swiper-button-next
}

.swiper-wrapper span{
 animation-duration: 3s;
 animation-name: slidein;
}
@keyframes fade-in {
 from {
   margin-left: 100%;
   width: 300%
 }
 to {
   margin-left: 0%;
   width: 100%;
 }
}
